body {
  margin: 0;

  font-family: 'Montserrat', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



h1{
  font-family:'Playfair Display', serif;
  font-weight:600;
  font-size:48px;
  color:#2E2E2E;
  line-height:150%;
}
h2{
  font-weight:600;
  font-size:24px;
  color:#2E2E2E;
  line-height:150%;
}
h3{
  font-weight:600;
  font-size:16px;
  color:#2E2E2E;
  line-height:150%;
}
h4{
  font-weight:600;
  font-size:13px;
  color:#2E2E2E;
  line-height:150%;
}
.topbar{
  font-weight:600;
  font-size:15px;
  color:#2E2E2E;
}



input{
  border-radius:20px !important;
  height:32px !important;
}


.bg-danger{
  background-color:#F62F5E !important;
}


.black{
  color:#2E2E2E;
}
.dark-gray{
  color:#6C6C6C;
}
.light-gray{
  color:#B4B4B4;
}
.pink{
  color:#F62F5E;
}
.white{
  color:#FFFFFF;
}



.background-black{
  background-color:#2E2E2E;
}
.background-white{
  background-color:#FFFFFF;
}
.background-pink{
  background-color:#F62F5E;
}
.background-blue{
  background-color:#6EB2FB;
}
.background-orange{
  background-color:#F1AD3D;
}
.background-dark-gray{
  background-color:#EFEFEF;
}
.background-light-gray{
  background-color:#F7F7F7;
}
.background-teal{
  background-color:#00D3CA;
}
.background-green{
  background-color:#EFFC90;
}



.link{
  cursor:pointer;
}
.link:hover{
  color:#dd2a54;
}



.btn-lg{
  border-radius:24px;
  font-size:16px;
  padding-left:15px;
  padding-right:15px;
}
.btn-sm{
  border-radius:15px;
  padding-left:15px;
  padding-right:15px;
  font-size:15px;
}
.btn-danger{
  background-color:#F62F5E;
  font-weight:bold;
}



.box-shadow{
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .5);
}
.card-shadow{
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .5);
}
.card-shadow:hover{
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .5);
}



.thumbnail-crop{
  object-fit: cover;
  width:80px;
  height:80px;
  margin:10px;
  border-radius:4px;
}
.thumbnail-crop:hover{
  border:2px solid #F62F5E;
}



